BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
PointerAlignment: Right
ColumnLimit: 100
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never

Macros:
  - LIST_ITER(vm, curr, peek)=_LIST_ITER_STUB {
  - END_LIST_ITER(vm, curr)=}

AttributeMacros: [LIST_ITER, END_LIST_ITER]
